.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	gap: 1rem;

	width: 100%;
	padding: 1.5rem 3rem;
	color: $color-white;
	text-align: center;

	&__image {
		display: flex;
		align-items: center;
	}

	&__icon {
	}
}
