.blogs {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.blog-card {
	max-width: 45rem;
	width: 24%;
	min-height: 30rem;
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
	border: 1px solid rgba(255, 255, 255, 0.47);
	border-radius: 1rem;
	transition: transform 0.3s;

	@media screen and (max-width: 103.75em) {
		width: 20%;
	}
	@media screen and (max-width: 72em) {
		width: 23.5%;
	}
	@media screen and (max-width: 65em) {
		width: 31.5%;
	}
	@media screen and (max-width: 37.5em) {
		width: 100%;
	}

	&:hover {
		transform: scale(1.04);
	}

	&__title {
		word-wrap: break-word;
		white-space: pre-wrap;
		word-break: break-word;
		margin-bottom: 3.2rem;
		text-align: center;
	}

	&__description {
		word-wrap: break-word;
		white-space: pre-wrap;
		word-break: break-word;
		color: $color-white;
		margin-bottom: auto;
	}

	&__page-link {
		padding: 1rem 2rem;
		text-align: center;
		justify-self: flex-end;
	}

	&__link {
		color: $color-white;
		position: relative;
		transition: all 0.3s;
		display: inline-block;

		&::after {
			content: " ";
			display: block;
			background-color: rgba($color-white, 0.47);

			position: absolute;
			bottom: -3px;
			left: -1px;

			width: 0;
			height: 1px;
			transition: all 0.2s;
		}

		&:hover {
			transform: translate(1rem, 0) scale(1.2);
			opacity: 0.5;
		}

		&:hover::after {
			width: 100%;
		}
	}
}

.create-blog {
	&__btn {
		display: inline-block;
		padding: 1.5rem 2rem;
		background-color: transparent;
		border: 1px solid rgba($color-white, 0.47);
		border-radius: 0.5rem;
		transition: all 0.3s;

		&:hover {
			opacity: 0.5;
		}
	}

	&__link {
		color: $color-white;
		font-weight: 600;
	}
}
