$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ff8e3b;

$theme-background-default: #0e1217;

$alert-red: #ea0808fa;
$alert-green: #96ee09f5;

$background-color: #121212; // Dark background
$card-background: #1e1e1e; // Slightly lighter for card sections
$text-color: #ffffff; // White text for contrast
$button-bg: #4caf50; // Green button background
$button-hover-bg: #388e3c; // Darker green on hover
$input-bg: #2c2c2c; // Input field background
$input-border: #444444; // Input field border
$link-color: #76ff03; // Bright green for links
$link-hover-color: #64dd17; // Darker green for link hover
